.blue-button {
  border: 0;
  background-color: #24a0ed;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

.green-button {
  border: 0;
  background-color: #26bd26;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
